@import "tailwindcss";

@theme {
  --animate-twinkle: twinkling 2s infinite alternate;

  @keyframes twinkling {
    0% {
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.3;
    }
  }
}