@import "tailwindcss";

@layer base{
  :root {
    font-family: pretendard, apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    text-rendering: optimizeSpeed;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
    min-height: 100vh;
    scroll-behavior: smooth;
    color: #28292D;
  }

  #root {
    background-color: #fff;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  hr {
    margin: 0.25rem 0;
    border: 0;
    border-top: 0.125rem solid #adb5bd;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  p {
    margin: 0.75rem 0;
    line-height: 1.5rem;
  }

  table {
    width: 100%;
    margin: 0.75rem 0;
    border-collapse: collapse;
    line-height: 1.75rem;
  }

  th, td {
    padding: 0.75rem 0;
  }

  blockquote {
    padding-left: 1rem;
  }

  article {
    overflow-wrap: break-word;
  }
}

@layer components {  
  .nav-link {
    @apply relative overflow-hidden font-serif text-lg text-witch-silver hover:text-white transition-all duration-300;
  }
  
  .nav-link::after {
    content: "";
    @apply absolute bottom-0 left-0 w-0 h-0.5 bg-witch-purple transition-all duration-300;
  }
  
  .nav-link:hover::after {
    @apply w-full;
  }
  
  .active-nav-link {
    @apply text-white;
  }
  
  .active-nav-link::after {
    @apply w-full bg-witch-purple;
  }
}

@theme {
  --animate-twinkle: twinkle 2s infinite ease-in-out;
  --animate-fade-in: fade-in 0.5s ease-in-out;
  --animate-fade-out: fade-out 0.5s ease-in-out;
  --spacing: 0.25rem;

  --color-witch-dark:#1A1F2C;
  --color-witch-purple:#9b87f5;
  --color-witch-deep-purple:#6E59A5;
  --color-witch-light-purple:#D6BCFA;
  --color-witch-soft-purple:#E5DEFF;
  --color-witch-charcoal:#403E43;
  --color-witch-dark-charcoal:#221F26;
  --color-witch-silver:#9F9EA1;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(10px);
    }
  }

  @keyframes twinkle {
    0% {
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.3;
    }
  }
}